<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title> Mideast341 Timeline</title>
    <link rel="stylesheet" href="timeline.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.2.3/pixi.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

   <!-- ****************************************************************************************************** -->

   </head>
  <body>

    <div id='app'>

      <header>
        Mideast341 Timeline: A Brief History of Mesopotamia
          <!-- url for title img: https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Babylon_relief.jpg/220px-Babylon_relief.jpg -->
          <!-- url for background img: https://www.istockphoto.com/photo/background-of-ancient-babylonian-or-persian-cuneiform-symbols-on-rock-tablets-gm1169968235-323608462-->
      </header>
      
      <!-- Event information and map location -->
      <div class="info-display">
       
        <!-- Event information -->
        <div class="event-info">
        <template id="landing" v-if="landing_page">
          <h2 style="text-align: center; margin-top: 0; font-family: 'Fondamento', cursive; font-style: normal; font-size: xx-large;">
            Welcome to our interactive timeline!</h2>
          <p style="text-align: center; font-size: medium;">
            To get started, click or drag the blue slider anywhere on the timeline. Dots within the slider will display here as historic events, acheivements, and artifacts.</p>
          <p style="text-align: center;"><var style="color: #ff0000; font-style: normal;">Red</var> dots represent events related to math.</p>
          <p style="text-align: center;"><var style="color: #008000; font-style: normal;">Green</var> dots represent events related to writing.</p>
          <p style="text-align: center;"><var style="color: #808080; font-style: normal;">Gray</var> dots represent events related to natural resources (metal, stone, and wood).</p>
          <p style="text-align: center;"><var style="color: #ffa500; font-style: normal;">Orange</var> dots represent events related to cooking.</p>
          <p style="text-align: center;"><var style="color: #00ced1; font-style: normal;">Blue</var> dots represent events related to civil engineering (irrigation and architecture).</p>
          <p style="text-align: center;"><var style="color: #800080; font-style: normal;">Purple</var> dots represent events related to government.</p>

          <br><br>
          <p style="text-align: center; font-size: medium;">This project was made by Amira Mandwee, Jannah Mandwee, and Alexey Nigin.</p>
        </template>

        <template v-else>
        <template v-for="result in filtered">
          <div class="single-event" v-bind:style="getBorder(result)">
            <var v-if="result.image">
              <div class="event-img-cont">
                <img v-bind:src="result.image" class="event-img">
                <div class="img-src">
                  <a v-bind:href="result.imageSource">Image source</a>
                </div>
              </div>
            </var>  

            <strong>Category:</strong><br>
            <p>{{ result.type }}</p>

            <strong>Period:</strong><br>
            <var v-if="result.year">
            <p>{{ resultView.sortPeriod(result.year) }}</p>
            </var>
            <var v-else>
            <p>{{ resultView.sortPeriod(result.yearStart) }}</p>
            </var>

            <strong>Date:</strong><br>
            <var v-if="result.year">
              <p>{{ result.year }} BC</p>
              </var>
              <var v-else>
              <p>{{ result.yearStart }} BC - {{ result.yearEnd }} BC</p>
              </var>

            <var v-if="result.location">
            <strong>Location:</strong><br>
            <p>{{ result.location }}</p>
            </var>
            
            <var v-if="result.isEvent">
              <strong>Event:</strong><br><p v-html="result.event"></p>
            </var>
            <var v-else>
              <strong>Name:</strong><br><p>{{ result.name }}</p>
              <strong>Description:</strong><p v-html="result.description"></p>
            </var>

            <strong>References:</strong><br>
            <var v-if="result.references.length === 0">
              <p>¯\_(ツ)_/¯</p>
            </var>
            <var v-else>
              <p>
                <template v-for="ref in result.references">
                  <a v-bind:href="ref.url">{{ ref.trusted ? "(Trusted)" : "(Untrusted)" }}</a>&nbsp;
                </template>
              </p>
            </var>
          </div>
        </template>
        </template>
        </div><img v-bind:src="map" id="map">

      </div>

      <!-- Interactive timeline -->
      <div id="timeline"></div>

    </div>
	  
    <script src="data.js"></script>
    <script src="timeline.js"></script>
  </body>
</html>