body {
  box-sizing: border-box;
  background-image: url("images/background.jpg");
  background-repeat: repeat;
  object-fit: scale-down;
  padding: 30px;
}

header {
  margin: 0;
  padding: 0;
  width: 100%; /* Full width */
  background-image: url("images/test.jpg");
  border: solid black 2px;
  background-position: center;
  object-fit: scale-down;
  background-repeat: repeat;
  font-family: 'Merienda', cursive;
  color: whitesmoke;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  text-align: center;
  font-size: 45px;}

.info-display {
  margin: 30px 0 0 0;
  height: 400px;
}

strong {
  font-family: 'Cinzel Decorative', cursive;
  font-size: large;
  font-style: normal;
}

p {
  font-size: medium;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.event-info {
  margin: 0;
  border: solid #eee8aa 3px;
  border-radius: 5px;
  padding: 15px;
  background-color: #f3eac0;
  height: 100%;
  width: calc(50% - 15px);
  display: inline-block;
  vertical-align: top;
  overflow: auto;
}

.single-event {
  margin: 30px 0 0 0;
  border: solid #ff0000 3px;
  border-radius: 5px;
  padding: 15px;
}

.single-event:first-child {
  margin-top: 0;
}

.event-img-cont {
  float: right;
  margin: 0 0 15px 15px;
  max-width: 50%;
  object-fit: contain;
}

.event-img {
  margin: 0;
  border: solid #4169e1 3px;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 0;
  max-width: 100%;
  max-height: 270px;
  object-fit: contain;
}

.img-src {
  display: block;
  margin: 5px 0 0 0;
  padding: 0 5px 0 0;
  width: 100%;
  text-align: right;
}

a {
  font-size: 10pt;
}

#map {
  margin: 0 0 0 30px;
  border: solid #eee8aa 3px;
  background-color: #f3eac0;
  border-radius: 5px;
  height: 100%;
  width: calc(50% - 15px);
  display: inline-block;
  vertical-align: top;
  object-fit: contain;
}

#timeline {
  margin: 30px 0 0 0;
  width: 100%;
  height: 125px;
  padding: 0;
}
